/.venv
/0_MODELO.py
/Atualizar Painel Comercial.py
/Cadastro.py
/CONFIGURACAO
/Cotação Dolar.Py
/Cotação Indices SGS.py
/Download POG.py
/Envio Painel Comercial (Demais).py
/Envio Painel Comercial.py
/FAT.py
/Tabela Preço.py
/temp_download